# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Project 1/aqi_values.csv
Project 1/course_record.csv
Project 1/Marathon Data Codesheet.docx
Project 1/Marathon Data Talk Brown University.pptx
Project 1/marathon_dates.csv
Project 1/project1.csv
.DS_Store
Project1/Marathon Data Codesheet.docx
Project1/Marathon Data Talk Brown University.pptx
Project1/marathon_dates.csv
Project1/project1.csv
Project1/aqi_values.csv
Project1/course_record.csv
Project2/Outcomes.and.AE.Paper.Addiction.2023.pdf
Project2/project2.csv
Project3/PDA_2024_Project_3-1.pdf
